<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.engine.process.mapper.WfHistoryAttachmentMapper">
    <resultMap type="com.workflow.engine.process.domain.eo.WfHistoryAttachment" id="WfHistoryAttachmentDtoResult">
        <result property="id" column="id" />
        <result property="rev" column="rev" />
        <result property="userId" column="user_id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="type" column="type" />
        <result property="taskId" column="task_id" />
        <result property="procInstId" column="proc_inst_id" />
        <result property="url" column="url" />
        <result property="contentId" column="content_id" />
        <result property="time" column="time" />
        <result property="tenantId" column="tenant_id" />
    </resultMap>
    <select id="findList" resultType="com.workflow.engine.process.domain.eo.WfHistoryAttachment">
        SELECT * FROM wf_history_attachment WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE wf_history_attachment set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>