<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.engine.process.mapper.WfHistoryVarinstMapper">
    <resultMap type="com.workflow.engine.process.domain.eo.WfHistoryVarinst" id="WfHistoryVarinstDtoResult">
        <result property="id" column="id" />
        <result property="rev" column="rev" />
        <result property="procInstId" column="proc_inst_id" />
        <result property="executionId" column="execution_id" />
        <result property="taskId" column="task_id" />
        <result property="name" column="name" />
        <result property="varType" column="var_type" />
        <result property="scopeId" column="scope_id" />
        <result property="subScopeId" column="sub_scope_id" />
        <result property="scopeType" column="scope_type" />
        <result property="bytearrayId" column="bytearray_id" />
        <result property="doubleParam" column="double_param" />
        <result property="longParam" column="long_param" />
        <result property="text" column="text" />
        <result property="text2" column="text2" />
        <result property="createTime" column="create_time" />
        <result property="lastUpdatedTime" column="last_updated_time" />
        <result property="tenantId" column="tenant_id" />
    </resultMap>
    <select id="findList" resultType="com.workflow.engine.process.domain.eo.WfHistoryVarinst">
        SELECT * FROM wf_history_varinst WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE wf_history_varinst set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>