<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.engine.mapper.WfHistoryCommentMapper">
    <resultMap type="com.workflow.engine.domain.eo.WfHistoryComment" id="WfHistoryCommentDtoResult">
        <result property="id" column="id" />
        <result property="type" column="type" />
        <result property="time" column="time" />
        <result property="userId" column="user_id" />
        <result property="taskId" column="task_id" />
        <result property="procInstId" column="proc_inst_id" />
        <result property="action" column="action" />
        <result property="message" column="message" />
        <result property="fullMsg" column="full_msg" />
        <result property="tenantId" column="tenant_id" />
    </resultMap>
    <select id="findList" resultType="com.workflow.engine.domain.eo.WfHistoryComment">
        SELECT * FROM wf_history_comment WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE wf_history_comment set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>