<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.engine.mapper.WfHistoryActinstMapper">
    <resultMap type="com.workflow.engine.domain.eo.WfHistoryActinst" id="WfHistoryActinstDtoResult">
        <result property="id" column="id" />
        <result property="rev" column="rev" />
        <result property="procDefId" column="proc_def_id" />
        <result property="procInstId" column="proc_inst_id" />
        <result property="executionId" column="execution_id" />
        <result property="actId" column="act_id" />
        <result property="taskId" column="task_id" />
        <result property="callProcInstId" column="call_proc_inst_id" />
        <result property="actName" column="act_name" />
        <result property="actType" column="act_type" />
        <result property="assignee" column="assignee" />
        <result property="startTime" column="start_time" />
        <result property="endTime" column="end_time" />
        <result property="duration" column="duration" />
        <result property="deleteReason" column="delete_reason" />
        <result property="tenantId" column="tenant_id" />
    </resultMap>
    <select id="findList" resultType="com.workflow.engine.domain.eo.WfHistoryActinst">
        SELECT * FROM wf_history_actinst WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE wf_history_actinst set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>