<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.engine.process.mapper.WfHistoryIdentitylinkMapper">
    <resultMap type="com.workflow.engine.process.domain.eo.WfHistoryIdentitylink" id="WfHistoryIdentitylinkDtoResult">
        <result property="id" column="id" />
        <result property="groupId" column="group_id" />
        <result property="type" column="type" />
        <result property="userId" column="user_id" />
        <result property="taskId" column="task_id" />
        <result property="createTime" column="create_time" />
        <result property="procInstId" column="proc_inst_id" />
        <result property="scopeId" column="scope_id" />
        <result property="scopeType" column="scope_type" />
        <result property="scopeDefinitionId" column="scope_definition_id" />
        <result property="tenantId" column="tenant_id" />
    </resultMap>
    <select id="findList" resultType="com.workflow.engine.process.domain.eo.WfHistoryIdentitylink">
        SELECT * FROM wf_history_identitylink WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE wf_history_identitylink set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>