<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.engine.process.mapper.WfRepositoryProcdefMapper">
    <resultMap type="com.workflow.engine.process.domain.eo.WfRepositoryProcdef" id="WfRepositoryProcdefDtoResult">
        <result property="id" column="id" />
        <result property="rev" column="rev" />
        <result property="category" column="category" />
        <result property="name" column="name" />
        <result property="code" column="code" />
        <result property="version" column="version" />
        <result property="deploymentId" column="deployment_id" />
        <result property="resourceName" column="resource_name" />
        <result property="dgrmResourceName" column="dgrm_resource_name" />
        <result property="description" column="description" />
        <result property="hasStartFormKey" column="has_start_form_key" />
        <result property="hasGraphicalNotation" column="has_graphical_notation" />
        <result property="suspensionState" column="suspension_state" />
        <result property="tenantId" column="tenant_id" />
        <result property="derivedFrom" column="derived_from" />
        <result property="derivedFromRoot" column="derived_from_root" />
        <result property="derivedVersion" column="derived_version" />
        <result property="engineVersion" column="engine_version" />
    </resultMap>
    <select id="findList" resultType="com.workflow.engine.process.domain.eo.WfRepositoryProcdef">
        SELECT * FROM wf_repository_procdef WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE wf_repository_procdef set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>