<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.engine.process.mapper.WfRepositoryModelMapper">
    <resultMap type="com.workflow.engine.process.domain.dto.WfRepositoryModelDTO" id="WfrepositoryModelDtoResult">
        <result property="id" column="id" />
        <result property="rev" column="rev" />
        <result property="name" column="name" />
        <result property="code" column="code" />
        <result property="category" column="category" />
        <result property="createTime" column="create_time" />
        <result property="lastUpdateTime" column="last_update_time" />
        <result property="version" column="version" />
        <result property="metaInfo" column="meta_info" />
        <result property="deploymentId" column="deployment_id" />
        <result property="editorSourceValueId" column="editor_source_value_id" />
        <result property="editorSourceExtraValueId" column="editor_source_extra_value_id" />
        <result property="tenantId" column="tenant_id" />
    </resultMap>
    <select id="findList" resultType="com.workflow.engine.process.domain.eo.WfRepositoryModel">
        SELECT * FROM wf_repository_model WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE wf_repository_model set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>