<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.engine.process.mapper.WfRuntimeTaskMapper">
    <resultMap type="com.workflow.engine.process.domain.eo.WfRuntimeTask" id="WfRuntimeTaskDtoResult">
        <result property="id" column="id" />
        <result property="rev" column="rev" />
        <result property="executionId" column="execution_id" />
        <result property="procInstId" column="proc_inst_id" />
        <result property="procDefId" column="proc_def_id" />
        <result property="taskDefId" column="task_def_id" />
        <result property="scopeId" column="scope_id" />
        <result property="subScopeId" column="sub_scope_id" />
        <result property="scopeType" column="scope_type" />
        <result property="scopeDefinitionId" column="scope_definition_id" />
        <result property="name" column="name" />
        <result property="parentTaskId" column="parent_task_id" />
        <result property="description" column="description" />
        <result property="taskDefKey" column="task_def_key" />
        <result property="owner" column="owner" />
        <result property="assignee" column="assignee" />
        <result property="delegation" column="delegation" />
        <result property="priority" column="priority" />
        <result property="createTime" column="create_time" />
        <result property="dueDate" column="due_date" />
        <result property="category" column="category" />
        <result property="suspensionState" column="suspension_state" />
        <result property="tenantId" column="tenant_id" />
        <result property="formKey" column="form_key" />
        <result property="claimTime" column="claim_time" />
        <result property="isCountEnabled" column="is_count_enabled" />
        <result property="varCount" column="var_count" />
        <result property="idLinkCount" column="id_link_count" />
        <result property="subTaskCount" column="sub_task_count" />
    </resultMap>
    <select id="findList" resultType="com.workflow.engine.process.domain.eo.WfRuntimeTask">
        SELECT * FROM wf_runtime_task WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE wf_runtime_task set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>