<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.engine.process.mapper.WfRuntimeVariableMapper">
    <resultMap type="com.workflow.engine.process.domain.dto.WfRuntimeVariableDTO" id="WfRuntimeVariableDtoResult">
        <result property="id" column="id" />
        <result property="rev" column="rev" />
        <result property="type" column="type" />
        <result property="name" column="name" />
        <result property="executionId" column="execution_id" />
        <result property="procInstId" column="proc_inst_id" />
        <result property="taskId" column="task_id" />
        <result property="scopeId" column="scope_id" />
        <result property="subScopeId" column="sub_scope_id" />
        <result property="scopeType" column="scope_type" />
        <result property="bytearrayId" column="bytearray_id" />
        <result property="doubleType" column="double_type" />
        <result property="longType" column="long_type" />
        <result property="text" column="text" />
        <result property="text2" column="text2" />
    </resultMap>
    <select id="findList" resultType="com.workflow.engine.process.domain.eo.WfRuntimeVariable">
        SELECT * FROM wf_runtime_variable WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE wf_runtime_variable set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>